/* Hide the top carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* Style custom controls and position them beside the indicators */
.custom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px; /* Adjust this based on how close you want them to the bottom */
  gap: 130px;
  margin-top: 30px;
}

.custom-control1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px; /* Adjust this based on how close you want them to the bottom */
  gap: 130px;
  margin-bottom: 15px;
}

.custom-prev{
  background-color: transparent;
  border: none;
  color: #0093FF;
  font-weight: 700;
} 

.custom-prev :disabled{
  cursor: not-allowed ;
}

.custom-next {
  background-color: transparent;
  border: none;
  color: #0093FF;
  font-weight: 700;
  margin-left: -30px;
}


/* Hide the main indicator */

.classrrom{
  color: #0093FF;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.login_btn{
    width: 100px;
    padding: 7px;
    text-align: center;
    border-radius: 50px;
    color: white;
    border: none;
    font-weight: 500;
    background-image: linear-gradient(to right, #0093FF, #004FFF);
}

.heading3{
    font-size: 2rem;
    font-weight: 400;
}

.heading1{
   color: #0093FF;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}
.para1{
    font-size: 1rem;
    font-weight: 400;
    color: #606266;

}

.heading2{
    color: #0093FF;
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.all_item{
    height: 500px;
}


.carousel-indicators{
   height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icons{
  margin-left: -50px;
}

.social_icons li{

  color: #666666;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.social_icons li :hover{
  color: black;
}

.signup_btn{
  color: gray;
  font-weight: 500;
  margin-top: 10px;
}

.button-group {
  display: flex;
  gap: 10px; /* Add some space between the buttons */
} 

.signup_btn button{
  border: none;
  background-color: white;
  color:#0093FF;
  font-weight: 700;
}

.reset_btn{

    width: auto;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: white;
    border: none;
    font-weight: 500;
    background-image: linear-gradient(to right, #0093FF, #004FFF);
}


.form-row {
  display: flex;
  gap: 20px; 
}

.form-row .form-group {
  flex: 1; 
}

.form-group{
  margin-top: 20px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group label {
  font-size: 14px;
  color: #333;
}

.btn-submit {
  padding-bottom: 30px;
}

.edit-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
/* style={{marginLeft:'16px', padding:"2px 10px", borderRadius:'5px',height:'35px', backgroundColor:'green',color:'white', textAlign:'center'}} */

/* student search */
.year_month{
  display: flex;
  align-items: center;
}

.year_month span{
  font-weight: bold;
  margin-left: 15px;
}

.Month{
padding: 10px;
width: 30%;
margin-left: 0.5rem;
border-radius: 2px;
height:35px
}

.year_month .btn_filter{
  margin-left: 16px;
  padding: 2px 10px;
  border-radius: 5px;
  height: 35px;
  background-color: green;
  color: white;
}


.Search_Item{
  padding: 5px;
  width: 80%;
  margin-left: 0.5rem;
  border-radius: 2px;
  height: 30px;
}

.Search_Item:hover{
  border: 1px  solid #007bff;
}


.error-message{
  color: red;
  font-size: 14px;
}